/* Group 2 (Alutaya, Mortel, Selim, Galang, Odulio) */

#customAlert{
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 999;
            background-color: rgba(200, 200, 200, 0.75);
        }
        #box{
            border-radius: 5px;
            margin-top: 10%;
            margin-left: 37%;
            height: 150px;
            width: 500px;
            text-align: center;
            box-shadow: 2px 2px 8px black;
            background-color: black;
        }
        .heading{
            background-color: #963000;
            color:white;
            font-size: larger;
            padding: 5px;
        }
        .content{
            margin-top: 30px;
        }
        #confirm{
            border-style: none;
            border-radius: 50px;
            background-color: #963000;
            color:white;
            cursor: pointer;
            margin-top: 60px;
            margin-left: 400px;
        }
        #p1{
            margin-left: 10px;
        }
        a{
            color:black;
        }
        
body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #a9a9a9;
	background-image: url('https://scontent.fmnl3-4.fna.fbcdn.net/v/t1.15752-9/271527610_428180955713421_8734379810314048805_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=ae9488&_nc_ohc=m2yQBTJ8B_MAX8NW9hL&_nc_oc=AQm9egcmeJykp_5Lgbueom3KajGjQkdtlUbfBMxzzmziuAuXibGjL-9wBemv0kkvVqc&tn=ei2Mw3BIaAst-Hsp&_nc_ht=scontent.fmnl3-4.fna&oh=03_AVKQyqLVD1YFhMXk5Rd1OMkobdr_lUtzX2C_rNZqzSb41g&oe=620C3968');
	background-repeat:repeat-x;
	background-attachment: fixed;
	background-position: top;
}

*
{
  margin: 0 auto 0 auto;
 text-align:center;
}

#container
{
  display: block; 
  height:auto;
  position: relative; 
  width: 940px;
}

#mainpic
{
background-image:url('https://scontent.fmnl3-2.fna.fbcdn.net/v/t1.15752-9/248921299_3020013991590359_6690644513503562622_n.png?_nc_cat=100&ccb=1-5&_nc_sid=ae9488&_nc_ohc=etmP-hvUXLEAX_yySOu&_nc_oc=AQkVLq7O5N8bS-I2_I39PiA2ZA15GCk2OupWcgAgz8zSQFvJfyiN_FcAmpm4RG29BTE&_nc_ht=scontent.fmnl3-2.fna&oh=03_AVLs0MjTlz0ZuQkgtU6yVFkI7qh-gacem-x2Exi3kxnRog&oe=61E6B278');
background-position: center;
background-repeat:no-repeat;
width:900px;
height:402px;	
}

#menu
{
background-image:url('https://scontent.xx.fbcdn.net/v/t1.15752-9/270246338_357892679046954_8291569462685047522_n.png?_nc_cat=101&ccb=1-5&_nc_sid=aee45a&_nc_ohc=waAQLir0vIIAX_PQ2IX&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVKxxOVH4_icskmKyhC7goOyqHBZN0eJ2lLFjjeOBqH_Yg&oe=620D18CF');
background-repeat:no-repeat;
width:940px;
height:69px;
float:left;
clear:both;
}

#content
{
width:880px;
height:auto;
background-image:url('https://scontent.xx.fbcdn.net/v/t1.15752-9/s403x403/271781438_670459634221937_3417890029202394652_n.png?_nc_cat=106&ccb=1-5&_nc_sid=aee45a&_nc_ohc=5Ov3QC2qmDYAX_Fwapu&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVIWWV67H7S94EBfdRYMk4Zm67Bk1a2Ij_fXUmdl9KZHjQ&oe=620DD5DD');
//background-color:#000000;
padding-left:10px;
padding-right:10px;
padding-bottom:5px;
color: #ff8c00;
}

#survey
{
width:inherit;
height:auto;
}

#survey h1 a,#survey h1 a:visited
{
display:inline;
font-size:20px;
text-decoration:none;
color:#ff8c00;
}

#menu ul {
	list-style: none;
	padding: 0px;
	margin-left:auto;
	width:900px;
}

#menu li {
	list-style: none;
	padding: 0px;	
	display: inline; 
}

#menu button {
        background-color: rgba(0,0,0,0);
	float: left;
	width: 150px;
        border-style: hidden;
	height: 40px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	padding-top: 17px;
	font-size: 15px;
}


html, body {
text-align: center;
}
p {text-align: left;}